body{
    font-family: 'Roboto' ,sans-serif;
}
*{
    margin : 0;
    padding : 0;
    list-style: none;
    text-decoration: none;
}
.sidebar{
    position: fixed;
    left:0;
    width: 300px;
    height: 100%;
    background: #042331;
}
.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063143;
    user-select: none;
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    transition: .4s;  
}
/*ul li:hover a{
    padding-left: 50px;
}*/
.sidebar ul a i{
    margin-right: 16px;
}
section{
    margin-left: 300px;
    background-color: white;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.container{
    display: grid;
}
.profile_header {
    background-color:#b8e5fa;
    display: flex;
    width: 970px;
    height: 202px;
    position: relative;
    
}

.profile_img {
    float: left;
    width: 340px;
    height: 200px;
}
.profile_img img{
    border-radius: 50%;
    height: 230px;
    width: 230px;
    border: 4px solid #fff;
    margin-left: 50px;
    margin-top: 30px;
    z-index: 5;  
}
.profile_name{
    float: left;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
}
.profile_name h3{
    font-variant: small-caps;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bold;
    color: #000;
} 
.wallet{
    float: left;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    margin-left: 70px;
    margin-bottom: 25px;
    padding-top: 20px;
    border: 2px solid black;
    border-radius: 20px;

}
.wallet h3{
    font-variant: small-caps;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
} 
.wallet h4{
    font-variant: small-caps;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 25px;
    color: green;
}
.main_body{
    width:900px;
    display: flex;
}
.main_body li{
    transition: none;
}
.info_side{
    background-color: #e8e8e8;
    height: 405px;
    width: 350px;

}
.profile_info{
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 30px;
}
.profile_info li{
    padding-bottom: 5px;
}
.profile_info .fa{
    font-size: 20px;

}
.profile_info .fas{
    font-size: 20px;
}
.info_side img{
    height: 70px;
    margin-left: 15px;
    margin-top: 50px;

}
.info_side .edit{
    margin-top: 60px;
    margin-left: 300px;
    font-size: 25px;
}

.code .Download button{

    /*rgba(0,124,205,1)*/
    background-color: #c9daf9 ;
    color: #fff;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid rgba(0,124,205,1);
    padding: 10px 26px 10px 26px;
    margin-left: 215px;
    margin-top: 40px;
    margin-bottom: 10px;
}
.profile_info .phone i{
    transform: rotate(90deg);
}
.profile_info span{
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
}
.profile_info li{
    margin-top: 10px;
}

.profile_side{
    width: 400px;
}
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 620px;
}
  
  /* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 50px;
    transition: 0.3s;
    font-size: 1.2rem;
    font-weight: bold;
    font-variant: small-caps;  
    font-family: sans-serif;

}
  
  /* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ccc;
}
.tab button:hover {
    box-shadow: 0px -3px 0px rgba(288,0,70,.9)inset;
}
  /* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}
  
  /* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    width: 600px;
    height: 350px;
}
.tabcontent .code .tag img{
    margin-top: 40px;
    margin-left: 150px;
    width: 300px;
}
.tabcontent .code p{
    margin-top: 40px;
    margin-left: 60px;
    font-size: 20px;
    font-weight: bold;
}   

.my-table{
    border-collapse: collapse;
    /*margin:10px 10px ;*/
    margin-top: 80px;
    margin-left: 2px;
    margin-bottom: 80px;
    font-size: 20px;
    width:600px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15) ;    
}
.my-table th,
.my-table td{
    padding: 9px;
    text-align: center;
    
}
.my-table th{
    background-color: #6acbe0;
    color: black;
}


.my-table tbody tr{
    text-align: left;
    color:black;
    font-size: 20px;
    font-weight: 100;
}

.my-table tbody tr:nth-child(even) {
    background-color: #e8e8e8;
}
.my-table tbody tr a{
    color: blue;
    font-size: 20px;
    background-color: white;
    outline: none;
    border: none;
    border-radius: 10px;
}


.help_box img{
    width: 900px;
    padding-top: 30px;
    padding-left: 40px;
    
    
}
.help_box  h3{
    padding-top: 30px;
    margin-left: 50px;
}
