/* css reset */
*{
    margin : 0;
    padding : 0;
}

/* css variables */
:root{
    --navbar-height : 59px;
}

/* navigation bar */
#navbar{
    display : flex;
    align-items: center;
    position: fixed;
    top: 0px;
    height: 65px;
    width: 100%;
    background-color: white;
    z-index: 1;
   
}

/* navigation bar : logo and image */
#logo{
    margin : 25px 15px;
}

#logo img{
    height : 55px;
    margin-right: 30px;
    margin-left: 30px;
    
}

/* navigation bar : list styling */


#navbar ul{
    display : flex;
    
    padding-left: 120px;
    cursor: pointer;
    padding-top: 20px;
}

#navbar::before{
    content : "";
    background-color: white;
    position : absolute;
    left : 0px;
    top:0;
    height: 30%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
    transition: transform 0.5s;
}

#navbar ul li{
    list-style: none;
    font-size: 1.6rem;
    font-family: 'Times New Roman', Times, serif;

}

#navbar ul li a{
    color:black;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color:skyblue;
    
}
/* Home Selection*/

.carousel-inner .carousel-item img{
    width: 100%;
    height: 390px;
}

.carousel-item{
    align-self: center;
    width: 100%;
    margin-top: 60px;
}
.main1 h1{
    font-size: 32px;
    margin-left: 440px;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.main1 p{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

/* features section */


#features{
    margin-left: 100px;
    margin-bottom: 50px;
}
#features h1{
    margin-top: 60px;
    padding-left: 440px;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;

}
#features .features-blocks{
    display: flex;
}
#features .features-blocks .box {
    height: 350px;
    width: 300px;
    padding: 30px;
    margin-left: 20px;
    margin-right: 40px;
    margin-top: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#features .features-blocks .box:hover{
    margin-top: 20px;
}

#features .features-blocks .box h2{
    padding-bottom: 0px;
    font-size: 25px;
    font-weight: 400;
    color: blue;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
#features .features-blocks .box p{
    font-size: 20px;
    margin-left: -20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
#features .features-blocks .box img{
    height: 150px;
    width: 150px;
    margin-left: 20px;
}









/* Pricing table*/

#price-table{
    color:white;
    font-size: 1.5rem;
    padding-bottom: 20px;
    
}
#price-table h1{
    color: black;
    text-align: center;
    justify-content: center;
    
    padding:15px;
    font-size: 1.7rem;
    margin-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;


    
}

.content-table{
    border-collapse: collapse;
    margin:10px 100px;
    font-size: 1rem;
    min-width: 500px;
    
    width:1100px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15) ;
}

.content-table thead tr{
    color:black;
    border-bottom: 0.5px solid #000;
    text-align: left;
    font-weight: bold;
   
}
.content-table th,
.content-table td{
    padding:7px 15px;
    text-align: center;
}
.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
    text-align: center;
    color:black;
}

/* about section*/
.about-container{
    display: flex;
    width: 100%;
    height: 80vh;
    background-size: 100% 50vh;
    background-color: #ddd;
}
.content-section{
    min-height: 30vh;
    width: 50%;
    padding:40px;
    justify-content: center;
}
.image-section{
    min-height: 50vh;
    width: 30%;
    padding:20px;
    margin-top: 5vh;
}
.image-section img{
    width: 150%;
    height:80%;
    border-radius: 10px;
}
.content-section .title{
    font-size: 35px;
    color: black;
}
.about-content p{
    font-size: 19px;
    text-align: justify;
    margin-top: -30px;
    font-family: 'Times New Roman', Times, serif;
}
.content-section .social{
    margin: 20px 30px;
}
.content-section .social i{
    color: #a52a2a;
    font-size : 40px;
    padding : 0px 10px;
}
.content-section .social i:hover{
    color:#3d3d3d;
}
.fab{
    background-color: #ddd;
}




/* footer */
.main{
    background: #292c2f;
    display: flex;
    color: #9ba6ab;
}
.main .details{
    margin-left: 80px;
    width: 400px;
    margin-top: 80px;
    margin-bottom: 50px;
}
.main .details p{
    font-size: 20px;
}
.main .details .media-icons{
    margin-top: 30px;

}
.main .details .media-icons a{
    color: #fff;
    margin-left: 10px;
    font-size: 25px;
    margin-top: 20px;

}


.main .details .media-icons a:hover{
    color: #496bf1;
}
.tc{
    margin-top: 20px;
    color: #fff;
    margin-left: -10px;
}
.tc a{
    color:#9ba6ab;
    margin-left: 10px;
    text-decoration: none;
}
.tc a:hover{
    color: #496bf1;
}
.main .contact{
    margin-left: 110px;
    width: 340px;
    margin-top: 80px;
    margin-bottom: 50px;
}
.main .contact .content{
    margin-top: 20px;

}
.main .contact a{
    margin-top: 30px;
    margin-left: 30px;
    font-size: 20px;
}
.main .contact a:hover{
    margin-left: 35px;
    color:#496bf1 ;

}

.fa {
    font-size: 22px;
    justify-content: center;
    color: #fff;
    
}
.fa:hover{
    color: #496bf1;
}

.main .msg {
    margin-left: 60px;
    margin-top: 80px;
}
.main h1{
    font-size: 30px;
    padding-bottom: 20px;
}
.main .msg input[type="text"]{
    height: 30px;
    width: 60%;
    margin-top: 10px;
    outline: none;
    color: #9ba6ab;
    background: none;
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 17px;
    border: 1px solid #fff;

}
.main .msg input[type="number"]{
    height: 30px;
    width: 60%;
    margin-top: 10px;
    outline: none;
    color: #9ba6ab;
    background: none;
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 17px;
    border: 1px solid #fff;

}

.main .msg  input[type="submit"]{
    height: 30px;
    width: 30%;
    font-size: 18px;
    color: #d9d9d9;
    background: red;
    outline: none;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 12px;
    margin-left: 0px;
    border: none;

}
.main .msg  input[type="submit"]:hover{
    background: none;
    border: 1px solid red;
    padding-bottom: 20px;
}
.bottom{
    background: #0b1d2d;
    height: 60px;
    color: #9ba6ab;
    display: flex;
}

.bottom p{
    margin-left: 420px;
    font-size: 20px;
    margin-top: 10px;
}
.bottom a:hover{
    color: #496bf1;
}



  
.login-box {
    display: none;
    position: absolute;
    top: 60px;
}
.login-box .contentbox{
    height: 500px;
    width: 400px;
    background-color: white;
    margin-left: 450px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   
}
.login-box .contentbox img{
    height: 150px;
    width: 150px;
    margin-left: 120px;
    margin-top: -25px;
}
.login-box .contentbox h2{
    margin-left: 160px;
    font-family: 'Times New Roman', Times, serif;
}
.login-box .contentbox .formbox .login .inputbox input{
    background-color: green;
    padding: 5px;
    color:#fff;
    
}
.login-box .contentbox .close a{
    margin-top: 30px;
    margin-left: 290px;
    color: black;
    text-decoration: none; 
    transform: rotateX(45deg);
    cursor: pointer;
    font-size: 30px;
}
.login-box .contentbox .formbox .inputbox{
    margin-left: 42px;
}
.login-box .contentbox .formbox .inputbox a{
    padding-bottom: 0px;
    color: rgb(17, 65, 119);
    
}
.login-box .contentbox .formbox .inputbox span{
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;

}
.login-box .contentbox .formbox .inputbox input{
   
    height:35px;
    width: 80%;
    outline: none;
    border-radius: 5px;
    border : 1px solid #ccc;
    padding-left: 25px;
    margin-left: 2px;
    font-size: 16px;
    background: transparent;
    color:black;
    margin-top: 10px;
    margin-bottom: 10px;

}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #496bf1;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }
